@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import 'module/var';
@mixin CenterAll() {
  display: flex;
    justify-content: space-between;
    align-items: center;
}
$FontColor:#F16D7F;
$SlidColorAct:lightgray;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border:0;/*убрать края радиусов*/
}
body {
    font-family: 'Lato';
}
.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    background: #222222;
    color: white;
    padding: 19px 0;
&__headerlogo {
    text-decoration: none;
    margin-right: 41px;
  }
  &__headerwrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*выравнивание по центру по вертикали*/
  }
  &__headeritem:not(:last-child) {
    margin-right: 33px;
  }
  }
.promo {
    background: #F1E4E6;
    height: 764px;
    &__promotitle{
        max-width: 377px;
        padding-left: 16px;
        border-left: 12px solid #F16D7F;
    }
    &__promowrap {
        height: 100%;/*для выравнывание по высоти от родителя*/
        display: flex;
        justify-content: flex-end; /*прижать по правой стороне*/
        align-items: center;
        background: url('../img/muzhik.png')no-repeat -228px;
    }
    &__promodecor {
        color: $FontColor;
    }
}
.category {
    margin: 100px 0 100px 0;
    &__catwrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__catitem {
        box-shadow: inset 0 0 240px 1px rgb(19, 6, 6);
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/women.jpg')no-repeat;
    }
    &__catitem:nth-child(2) {
        background: url('../img/muzhik__3.jpg')no-repeat;
    }
    &__catitem:nth-child(3) {
        background: url('../img/boy.jpg')no-repeat;
    }
    &__catitem:nth-child(4){
        background: url('../img/width__photo.jpg')no-repeat;
        }
        &__catitem:not(:last-child){
            width: 360px;
            height: 260px;
            margin: 0 0 30px 0;
        }
        &__catspan {
            font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        }
        &__cattext {
            text-align: center;
        }
        &__catdown {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #F16D7F;
        }
}
.feture {
    margin: 100px 0 100px 0;
    &__text a {
        text-decoration: none;
    }
    &__wrap{
        display: flex;
        flex-wrap: wrap;
    }
    &__glovo {
        text-align: center;
        margin: 96px 0 57px 0;
     }
     &__first {
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 8px;
    color: #222222;
    }
    &__second {
        font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    }
    &__item {
        width: 360px;
        height: 581px;
        margin-right: 20px;   
        margin-bottom: 30px;
    }
    &__imgs--women {
        background: #F7E4E2;
      }
      &__only--women{
        margin: 9px 110.06px 8px 108px;
      }
      &__text {
        margin: 25.35px 28.8px 20px 16.46px;
    }
    &__elle {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 16px;
        color: #000000;
        margin-bottom: 12.65px;
    }
    &__know {
        width: 314.74px;
        height: 51px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin-bottom: 18px;
    }
    &__dollars{
        font-weight: bold;
        font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    }
}
.button{
   margin-bottom: 95px;
   &__btn {
    display: flex;
    justify-content: center; 
}
&__info {
    width: 212px;
    height: 48px;
    }
    &__ssilka {
        padding: 14px 38px;
        text-decoration: none;
        color: #F16D7F;
        border: 1px solid #F16D7F;
    }
}
.free {
    display: flex;
    justify-content: space-between;
    height: 100%;
align-items: center;
&__sales {
    background: #222222;
    color: white;
    height: 341px;
}
&__item {
    text-align: center;
}
&__text{
    padding: 19.07px 0 16.01px 0;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    }
    &__para{
        width:300px;
        height: 34px;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}
.footer{
    &__nach{
        background: url(../img/button_subscribe.png)no-repeat;
        background-size: cover;
        height:448px;
    }
    &__glovo {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        background: url('../img/Intersect.png')no-repeat;
         width: 360px;
         margin-top: 97px;
         background-position: top center;/*для картинки центрировать*/
     }
     &__right {
        display: flex;
        flex-direction:column;
    }
&__leftword {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 138px;
}
&__rightword {
    font-weight: bold;
font-size: 24px;
line-height: 167.2%;
text-align: center;
color: #222224;
margin-top: 150px;
}
&__rightpara {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 167.2%;
text-align: center;
color: #222224;
margin-bottom: 32px;
}
&__email{
    display: flex;
}
&__email--field {
    width: 256px;
    height: 49px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background: #E1E1E1;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #222224;
opacity: 0.67;
text-align: center;
padding: 7px 64px 6px 10px;
}
&__email--btn{
    width: 100px;
    height: 49px;
   border-top-right-radius: 24px;
   border-bottom-right-radius: 24px;
   text-align: center;
   background: #F16D7F;
   font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FFFFFF;
padding: 7px 7px 6px 8px;
}
}
.second{
    &__foot {
      background-color: #222222;
      color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    &__footogether {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
    justify-content: space-between;
    align-items: center;
    }
    &__footright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    &__footbrand {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #FBFBFB;
    }
    &__footicons {
      margin: 24px 7px;
    }
    &__footicons:not(:last-child) {
      margin-right: 7px;
    }
    &__foottest {
      fill: white;
    }
    &__foottest:hover {
      fill: $FontColor;
    }
    &__foottext {
      fill: black;
    }
    &__foottext:hover {
      fill: white;
    }
    }