.button {
    padding: 48.5px 0 96.5px 0;
    &__catalog {
        display: flex;
        justify-content: center;
    }
    &__activelink{
        width: 284px;
        height: 44px; 
        border: 1px solid #EBEBEB;
      align-items: center;
      padding: 11.5px 15.45px 12.5px 15.45px;
      align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    }
    .w3-button {
        text-decoration: none;
        font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #C4C4C4;
    &:hover {
        color:#EF5B70;
    }
    &__first {
        font-weight: bold;
        color: #000000;
        text-decoration: none;
    }
}
}